<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon color="dark" name="home-outline"></ion-icon>
      <ion-label color="dark">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon color="dark" name="grid-outline"></ion-icon>
      <ion-label color="dark">Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon color="dark" name="search-outline"></ion-icon>
      <ion-label color="dark">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon color="dark" name="star-outline"></ion-icon>
      <ion-label color="dark">Trending</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon color="dark" name="cart-outline"></ion-icon>
      <ion-label color="dark">Cart</ion-label>
      <ion-badge color="primary">6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
